<launch>
  <arg name="rviz" default="true"/>
  <arg name="raw_cloud_topic" default="points2"/>
  <!-- Launch parameterized nodelets -->
  <include file="$(find surface_normals)/launch/pcl_nodelets.launch">
    <arg name="raw_cloud_topic" value="$(arg raw_cloud_topic)"/>
  </include>
  <include file="$(find surface_normals)/launch/plane_seg.launch"/>
  <node if="$(arg rviz)" type="rviz" name="rviz" pkg="rviz" args="-d /home/cuhsailus/Desktop/Research/22_academic_year/surface_normals/rviz_config/main.rviz" output="log"/>

</launch>